In [8]:
import pandas as pd
import numpy as np

In [14]:
nba=pd.read_csv(r"C:\Users\Asus\OneDrive\Desktop\Python sem4\nba.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Asus\\OneDrive\\Desktop\\Python sem4\\nba.csv'

In [10]:
nba

NameError: name 'nba' is not defined

In [11]:
nba.head()

NameError: name 'nba' is not defined

In [12]:
nba.tail()

NameError: name 'nba' is not defined

In [13]:
nba.describe()

NameError: name 'nba' is not defined

In [ ]:
nba.info()

In [ ]:
nba=pd.read_csv(r"C:\Users\Asus\OneDrive\Desktop\Python sem4\nba.csv",usecols=["College"])

In [ ]:
nba

In [ ]:
nba.head()

In [ ]:
nba.tail()

In [ ]:
nba.sort_index(ascending=True)

In [ ]:
nba=pd.read_csv(r"C:\Users\Asus\OneDrive\Desktop\Python sem4\nba.csv",usecols=["Name"])

In [ ]:
nba

In [ ]:
nba.sort_values("Name",ascending=False)

In [ ]:
nba=pd.read_csv(r"C:\Users\Asus\OneDrive\Desktop\Python sem4\nba.csv",index_col="Name")

In [ ]:
nba

In [ ]:
#to add coloumn - broadcast

In [ ]:
nba["Salary"]*2

In [ ]:
nba

In [ ]:
double_sal=nba["Salary"]*2

In [ ]:
nba

In [ ]:
nba.sort_values("Name",ascending=True)

In [7]:
nba.sort_values(["Team","Position"],ascending=False])

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (848982746.py, line 1)

In [6]:
nba["Height"].str.split("-")

NameError: name 'nba' is not defined

In [15]:
nba[["feet","inch"]]=nba["Height"].str.split("-")

NameError: name 'nba' is not defined

In [16]:
import pandas as pd

In [19]:
nba=pd.read_csv(r"C:\Users\Asus\Downloads\nba.csv")

In [20]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
nba["Height"].str.split("-")

0       [6, 7]
1       [6, 5]
2       [6, 5]
3      [6, 10]
4      [6, 10]
        ...
587     [6, 3]
588     [6, 4]
589    [6, 10]
590     [6, 5]
591        NaN
Name: Height, Length: 592, dtype: object

In [22]:
nba[["feet","inch"]]=nba["Height"].str.split("-",expand=True)

In [23]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6,7
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6,5
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6,5
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6,10
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6,10
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6,3
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6,4
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6,10
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6,5
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
nba.info

<bound method DataFrame.info of                   Name                Team Position Height  Weight  \
0           Saddiq Bey       Atlanta Hawks        F    6-7   215.0
1    Bogdan Bogdanovic       Atlanta Hawks        G    6-5   225.0
2          Kobe Bufkin       Atlanta Hawks        G    6-5   195.0
3         Clint Capela       Atlanta Hawks        C   6-10   256.0
4       Bruno Fernando       Atlanta Hawks      F-C   6-10   240.0
..                 ...                 ...      ...    ...     ...
587       Ryan Rollins  Washington Wizards        G    6-3   180.0
588      Landry Shamet  Washington Wizards        G    6-4   190.0
589   Tristan Vukcevic  Washington Wizards        F   6-10   220.0
590       Delon Wright  Washington Wizards        G    6-5   185.0
591                NaN                 NaN      NaN    NaN     NaN

           College      Salary feet inch
0        Villanova   4556983.0    6    7
1       Fenerbahce  18700000.0    6    5
2         Michigan   4094244.0    6    5
3      Elan Chalon  20616000.0    6   10
4         Maryland   2581522.0    6   10
..             ...         ...  ...  ...
587         Toledo   1719864.0    6    3
588  Wichita State  10250000.0    6    4
589    Real Madrid         NaN    6   10
590           Utah   8195122.0    6    5
591            NaN         NaN  NaN  NaN

[592 rows x 9 columns]>

In [25]:
nba[["feet","inch"]]=nba[["feet","inch"]].apply(pd.to_numeric)

In [27]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
 7   feet      585 non-null    float64
 8   inch      585 non-null    float64
dtypes: float64(4), object(5)
memory usage: 41.8+ KB

In [28]:
nba["feet"]*30.48+nba["inch"]*2.54

0      200.66
1      195.58
2      195.58
3      208.28
4      208.28
        ...
587    190.50
588    193.04
589    208.28
590    195.58
591       NaN
Length: 592, dtype: float64

In [29]:
nba["Height_in_centimeter"]=nba["feet"]*30.48+nba["inch"]*2.54

In [30]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch,Height_in_centimeter
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,200.66
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,195.58
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,195.58
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,208.28
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,208.28
...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,190.50
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,193.04
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,208.28
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,195.58
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
nba.drop("Height_in_centimeter",axis=1)

,Name,Team,Position,Height,Weight,College,Salary,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN