In [1]:
import pandas as pd

In [ ]:
import numpy as np

In [2]:
data={"Region":["Asia","Asia","Europe","Europe","America","America"],"Country":["China","India","France","Germany","Oman","Canada"],"Year":[2025,2024,2023,2022,2021,2020],"Sales":[20000,30000,40000,50000,60000,70000],"Profit":[300,400,500,600,700,800]}
df=pd.DataFrame(data)

In [3]:
df

    Region  Country  Year  Sales  Profit
0     Asia    China  2025  20000     300
1     Asia    India  2024  30000     400
2   Europe   France  2023  40000     500
3   Europe  Germany  2022  50000     600
4  America     Oman  2021  60000     700
5  America   Canada  2020  70000     800

In [4]:
df.groupby("Region")[["Profit","Year"]].mean()

         Profit    Year
Region
America   750.0  2020.5
Asia      350.0  2024.5
Europe    550.0  2022.5

In [5]:
ice_cream=["strawberry","chocolate","vanilla","tuttifruity"]

In [6]:
pd.Series(ice_cream)

0     strawberry
1      chocolate
2        vanilla
3    tuttifruity
dtype: object

In [7]:
lottery_number=[1,2,3,4,5]

In [8]:
pd.Series(lottery_number)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
sushiL={"Tuna":"Red",
       "Salmon":"Orange",
       "Eel":"Brown"}

In [13]:
pd.Series(sushiL)

Tuna         Red
Salmon    Orange
Eel        Brown
dtype: object

In [14]:
#sth through method

In [15]:
price=pd.Series([23.5,45,78,2,5])

In [17]:
price

0    23.5
1    45.0
2    78.0
3     2.0
4     5.0
dtype: float64

In [18]:
price.sum()

153.5

In [19]:
price.mean()

30.7

In [22]:
price.product()

824850.0

In [23]:
price.median()

23.5

In [24]:
#attribute

In [27]:
adjectives=pd.Series(["Beautiful","Smart","Intelligent","Handsome","Smart"])
adjectives

0      Beautiful
1          Smart
2    Intelligent
3       Handsome
4          Smart
dtype: object

In [28]:
adjectives.size

5

In [29]:
adjectives.values

array(['Beautiful', 'Smart', 'Intelligent', 'Handsome', 'Smart'],
      dtype=object)

In [30]:
adjectives.is_unique

False

In [31]:
type(adjectives.values)

numpy.ndarray

In [32]:
#argument and parameter

In [40]:
weekdays=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
fruits=["Apple","Banana","Orange","Guava","Litchi","Kiwi","Mango"]

In [43]:
pd.Series(index=weekdays,data=fruits)

Monday        Apple
Tuesday      Banana
Wednesday    Orange
Thursday      Guava
Friday       Litchi
Saturday       Kiwi
Sunday        Mango
dtype: object

In [42]:
pd.Series(fruits,weekdays)

Monday        Apple
Tuesday      Banana
Wednesday    Orange
Thursday      Guava
Friday       Litchi
Saturday       Kiwi
Sunday        Mango
dtype: object